@using DealerMarket.Core.Application.ViewModels.User
@model string

@{
    ViewData["Title"] = "Access Denied";
}

<div class="row mt-5">
    <div class="col-8 offset-2">
        <div class="card shadow-sm">
            <div class="card-body">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h2 class="text-center">Sorry, you don't have permissions to access this section.</h2> - <center><a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger justify-content-center">Back</a></center>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            </div>
        </div>
    </div>
</div>