@using DealerMarket.Core.Application.ViewModels.User
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header" style="background-color:aliceblue"></div>
            <div class="card-body">
                <div class="card-title text-center fw-bold mb-3 mt-3 text-black">
                    <h2><i>Forget my password</i></h2>
                </div>

                <form method="post" asp-controller="User" asp-action="ForgotPassword">

                 @*   @Html.ValidationSummary(false, "", new {@class="text-danger"})*@

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Type your Email" />
                        @*<span asp-validation-for="Email" class="text-danger"></span>*@
                    </div>

                    <button type="submit" class="btn btn-outline-primary">Save</button>
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-warning">Back</a>

                </form>
            </div>
            <div class="card-footer" style="background-color:aliceblue"></div>
        </div>
    </div>
</div>