@using DealerMarket.Core.Application.ViewModels.Ads
@model SaveAdsViewModels


@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4>¿Are you sure want delete the category @Model.Name?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Ads" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <div class="mt-3">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                        <a asp-controller="Ads" asp-action="Index" class="btn btn-outline-warning">Back</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

