@using DealerMarket.Core.Application.ViewModels.Ads
@model SaveAdsViewModels


@{
    var CreateMode = Model.Id == 0 ? true : false;
    ViewData["Title"] = "SaveAds";
}

<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-black text-white">
                <h4 class="text-center fst-italic text-danger">@(CreateMode ? "Creating new Ads" : $"Editing the {Model.Name} ads")</h4>
            </div>
            <div class="card-body">

                @if (Model.categories == null || Model.categories.Count == 0)
                {

                    <h4 class="fst-italic mt-2">There isn't category available, create a category first.</h4>

                    <a asp-controller="Ads" asp-action="Index" class="btn btn-outline-warning mt-3 float-end">Back</a>

                }
                else
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Ads" asp-action="@(CreateMode ? "Create" : "Edit")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Type your name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <textarea asp-for="Description" class="form-control" maxlength="100" placeholder="Enter Ads description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="File" class="form-label">Upload Images</label>
                            @if (CreateMode)
                            {
                                <input required asp-for="File" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="File" class="form-control" />
                            }

                        </div>

                        <div class="mb-3">
                            <label asp-for="Price" class="form-label">Price</label>
                            <input type="number" step="any" asp-for="Price" class="form-control" placeholder="Enter Price" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CategoryId" class="form-label">Category</label>
                            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.categories, "Id", "Name"))" class="form-select">
                                <option value="" selected disabled>Select a option</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <div class=" float-end me-2 mt-3">
                            <button type="submit" class="btn btn-outline-success">@(CreateMode ? "Create" : "Edit")</button>
                            <a asp-controller="Ads" asp-action="Index" class="btn btn-outline-warning">Back</a>
                        </div>


                    </form>
                }
            </div>
        </div>
    </div>
</div>

